@import '_colors.scss';

.newuser{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.jumbo{
  border: 1px solid $primary;
  border-radius: 10px;
  height: 65%;
  width: 65%;
  display: block;
  background-color: transparent;
  display: flex;
}

.j-contain{
  width: 100%;
  height: 100%;
  display: flex;
}

.br-left{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.br-right{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-column{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form{
  width: 66.666%;
  background-color: transparent;
}

.info{
  width: 33.333%;
  background-color: $primary;
}

.info-c{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.account-btn{
  background-color: transparent;
  border: 2px solid $navy;
  border-radius: 5px;
  color: $navy;
  min-width: 200px;
}
.account-btn:hover,.account-btn:active,.account-btn:focus{
  outline:none;
}

.account-btn:hover{
  background-color: $navy;
  border: 2px solid $navy;
  color: $primary;
}
