@import '_colors.scss';
@import '_fonts.scss';

.splash{
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.fc-main{
  flex: 2 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcj-title{
  font-size: 150px;
  color: white;
  text-shadow: 4px 4px 4px $primary;
  font-family: 'Heebo';
  margin: 0px;
  letter-spacing: 20px;
  margin-left: -3px;
}
.fcj-slogan{
  font-size: 25px;
  color: white;
  margin: 0;
  letter-spacing: 10px;
  text-shadow: 2px 2px 2px $primary;
}
.fcj-links{
  margin-top:20px;
  color:white;
  display: flex;
  align-items: center;
}

.fcj-link{
  margin-top:45px;
  margin-left: 0px;
  margin-right: 100px;
  font-size: 25px;
  letter-spacing: 2px;
  border: 2px solid $primary;
  padding: 20px;
}

.fc-menu{
  flex: 1 0 0;
}

.fcm-orange{
  min-height: 60%;
  width: 100%;
  display: flex;
  padding: 10px 0 0 100px;
  background: rgb(239,77,37);
  background: linear-gradient(188deg, rgba(239,77,37,1) 0%, rgba(239,77,37,1) 57%, rgba(11,23,42,1) 57%, rgba(11,23,42,1) 100%);
}
.fcm-link{

}
